.env
.env.*
**/.env
**/.env.*
~/.ssh/
~/.aws/
~/.config/gcloud/
~/.azure/
~/.docker/config.json
~/.kube/config
.npmrc
.pypirc
**/*-service-account.json
**/*.pem
**/*.key
~/.git-credentials
.verify-output/
node_modules/
.nx/
